
<div class="container">
	<section class="text-center" data-ng-controller="spotifyCtrl">
	  <div class="info" data-ng-show="isLogged">
	  	<img src="{{user.images[0].url}}"><br/>
		  {{user.display_name}}<br/>
		  {{user.id}}<br/>
	  </div>
	  
	  
	  <div class="login" data-ng-hide="isLogged">
			<a href="#" data-ng-click="login()">Login Spotify</a>
		</div>
		<div data-ng-show="isLogged" class="login">
			<a href="#" data-ng-click="login()">Desconectar Spotify</a>
			<a href="#" data-ng-click="facebook()">Conectar Facebook</a>
			<a href="#" data-ng-click="google()">Conectar Google</a>
		</div>
	</section>
</div>
      




